@font-face {
    font-family: 'neuzeitgroteskcondw01-blackRg';
    src: url('../fonts/Neuzeit Office_W01_Regular.woff2') format('woff2'),
        url('../fonts/Neuzeit_Office_W01_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.content{
    
}
